.card {
    display: flex;
    flex-direction: column;
    width: 15rem;
    border: 0.063rem solid black;
    border-radius: .25rem;
    background-color: var(--gray);
}

.card-title {
    border-bottom: 0.063rem solid black;
    padding: 0.5rem;
    font-weight: bold;

}

.card-body {
    padding: 0.5rem;
}

.card-title.dismiss {
    display: flex;
    align-items: center;
}

.card-title.dismiss img {
    width: 2rem;
    margin-left: auto;
}

.card-title.dismiss img:hover {
    cursor: pointer;
}

.card-with-image {
    width: fit-content;
}

.card-img img {
    border-radius: .25rem;
}

.card-with-image .card-title {
    border: none;
}

.horizontal {
    display: flex;
    flex-flow: row;
}

.card-with-image.horizontal {
    height: fit-content;
    width: 40rem;
}

.card-side-body {
    display: flex;
    flex-direction: column;
}

.vertical {
    width: min-content;
}

.text-overlay {
    width: min-content;
}

.text-overlay .card-title {
    padding: 0;
    margin: 0;
}

.text-overlay .card-title {
    position: relative;
}

.text-overlay .card-overlay-title {
    position: absolute;
    bottom: 1rem;
    padding: 0.5rem;
}

.card-with-badge {
    position: relative;
}