/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

/* APPLYING FONT */
* {
    font-family: 'Source Sans Pro', sans-serif;
}

/* DEFINING CUSTOM COLORS */
:root {
    --primary: #14213D;
    --secondary: #2E86AB;
    --success: rgb(12, 195, 12);
    --danger: #F24236; 
    --warning: #FCA311;
    --bg-cus: #E5E5E5;
}