/* RESETTING CSS FOR STANDARD CSS IN ALL BROWSERS */
@import url(./reset.css);

/* UTILITIES */
@import url(./utils.css);

/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

/* APPLYING FONT */
* {
    font-family: 'Source Sans Pro', sans-serif;
}

/* DEFINING CUSTOM COLORS */
:root {
    --blue: #14213D;
    --lightblue: #2E86AB;
    --green: rgb(12, 195, 12);
    --red: #F24236; 
    --yellow: #FCA311;
    --gray: #FAFAFA;
}