<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>avatar</title>
    <link rel="stylesheet" href="avatar.css">
</head>
<body>

    <img class="avatar avatar-round" src="../../../assets/avatar.svg" alt="avatar">
    <img class="avatar-xl avatar-round" src="../../../assets/avatar.svg" alt="avatar">
    <img class="avatar-xxl avatar-round" src="../../../assets/avatar.svg" alt="avatar">

    <div><br></div> <div><br></div>

    <img class="avatar avatar-square" src="../../../assets/avatar.svg" alt="avatar">
    <img class="avatar-xl avatar-square" src="../../../assets/avatar.svg" alt="avatar">
    <img class="avatar-xxl avatar-square" src="../../../assets/avatar.svg" alt="avatar">


</body>
</html>