.avatar {
    height: 2rem;
    width: 2rem;
}

.avatar-xl {
    height: 3rem;
    width: 3rem;
}

.avatar-xxl {
    height: 4rem;
    width: 4rem;
}

.avatar-round {
    border-radius: 50%;
}

.avatar-square {
    border-radius: 10%;
}