.btn {
    border: none;
    padding: .5rem 1rem;
    color: white;
    font-size: 1rem;
    border-radius: 0.125rem;
    background-color: #fff;
}

.btn:hover {
    cursor: pointer;
}

.btn-blue {
    background-color: var(--blue);
}

.btn-lightblue {
    background-color: var(--lightblue);
}

.btn-green {
    background-color: var(--green);
}

.btn-yellow {
    background-color: var(--yellow);
}
.btn-red {
    background-color: var(--red);
}

.btn-outline-blue {
    border: 0.125rem solid var(--blue);
    color: var(--blue);
}

.btn-outline-lightblue {
    border: 0.125rem solid var(--lightblue);
    color: var(--lightblue);
}

.btn-outline-green {
    border: 0.125rem solid var(--green);
    color: var(--green)
}

.btn-outline-yellow {
    border: 0.125rem solid var(--yellow);
    color: var(--yellow);
}
.btn-outline-red {
    border: 0.125rem solid var(--red);
    color: var(--red);
}

.btn-hover:hover {
    color: white;
}

.btn-hover.btn-outline-blue:hover {
    background-color: var(--blue);
}

.btn-hover.btn-outline-lightblue:hover {
    background-color: var(--lightblue);
}
.btn-hover.btn-outline-green:hover {
    background-color: var(--green);
}
.btn-hover.btn-outline-yellow:hover {
    background-color: var(--yellow);
}
.btn-hover.btn-outline-red:hover {
    background-color: var(--red);
}

.btn-floating-action {
    position: fixed;
    bottom: 5%;
    right: 5%;
    padding: .5rem .75rem;
    border-radius: 50%;
    z-index: 99;
}

.btn a {
    color: inherit;
    text-decoration: none;
}