@import url(../style.css);

.btn {
    border: none;
    padding: .5rem 1rem;
    color: white;
    font-size: 16px;
    border-radius: 2px;
    background-color: #fff;
}

.btn:hover {
    cursor: pointer;
}

.btn-primary {
    background-color: var(--primary);
}

.btn-secondary {
    background-color: var(--secondary);
}

.btn-success {
    background-color: var(--success);
}

.btn-warning {
    background-color: var(--warning);
}
.btn-danger {
    background-color: var(--danger);
}

.btn-outline-primary {
    border: 2px solid var(--primary);
    color: var(--primary);
}

.btn-outline-secondary {
    border: 2px solid var(--secondary);
    color: var(--secondary);
}

.btn-outline-success {
    border: 2px solid var(--success);
    color: var(--success)
}

.btn-outline-warning {
    border: 2px solid var(--warning);
    color: var(--warning);
}
.btn-outline-danger {
    border: 2px solid var(--danger);
    color: var(--danger);
}

.btn-hover:hover {
    color: white;
}

.btn-hover.btn-outline-primary:hover {
    background-color: var(--primary);
}

.btn-hover.btn-outline-secondary:hover {
    background-color: var(--secondary);
}
.btn-hover.btn-outline-success:hover {
    background-color: var(--success);
}
.btn-hover.btn-outline-warning:hover {
    background-color: var(--warning);
}
.btn-hover.btn-outline-danger:hover {
    background-color: var(--danger);
}

.btn-floating-action {
    position: fixed;
    bottom: 5%;
    right: 5%;
    padding: .5rem .75rem;
    border-radius: 50%;
}

.btn a {
    color: inherit;
}