<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>text utilities</title>
    <link rel="stylesheet" href="text-utilities.css">
</head>
<body>

    <h1> H1 Heading1 </h1>
    <h2> H2 Heading2 </h2>
    <h3> H3 Heading3 </h3>
    <h4> H4 Heading4 </h4>
    <h5> H5 Heading5 </h5>
    <h6> H6 Heading6 </h6> 

    <br> <br>

    <p>Text inside normal p tag</p>
    <p>Text inside normal p tag</p>

    <br><br>

    <p class="text-xl">Text-XL</p>
    <p class="text-l">Text-L</p>
    <p class="text-m">Text-M</p>
    <p class="text-s">Text-S</p>

    <br><br>
    <h1 class="text-gray">Gray Text</h1>
    <p class="text-xl text-gray">Gray Text</p>
    <p class="text-gray">Gray Text Lorem ipsum dolor sit amet.</p>

    <br><br>

    <h1 class="text-center">Center Text</h1>
    <p class="text-center text-xl">Center Text</p>
    <p class="text-center">Center Text Lorem ipsum dolor sit amet.</p>

    <br><br>

    <h1 class="text-left">left Text</h1>
    <p class="text-left text-xl">left Text</p>
    <p class="text-left">left Text Lorem ipsum dolor sit amet.</p>

    <br><br>

    <h1 class="text-right">right Text</h1>
    <p class="text-right text-xl">right Text</p>
    <p class="text-right">right Text Lorem ipsum dolor sit amet.</p>


</body>
</html>